h1{
    margin-left: 500px;
    border-style: solid;
    width: 120px;
    background: mediumslateblue;
}

h2{
    border-style: solid;
    width: 100px;
    background: mediumslateblue;
}


.1{
    margin-left: 700px;

}

.a1{
    margin-left: 800px;
}

.a2{
    margin-left: 800px;
}

.a3{
    margin-left: 800px;
}

.a4{
    margin-left: 800px;
}

.a5{
    margin-left: 600px;
    margin-top: -200px;
}

.a6{
    margin-left: 600px;
}

.a7{
    margin-left: 550px;
}

.a8{
    margin-left: 450px;
    margin-top: -53px;
}

.a9{
    margin-left: 400px;
    margin-top: -100px;
}

.a10{
    margin-left: 400px;
    margin-top: -110px;
}

.a11{
    margin-left: 650px;
    margin-top: 150px;
}

.a12{
    margin-left: 500px;
    margin-top: -50px;
}

.a13{
    margin-left: 350px;
    margin-top: -50px;
}

.a14{
    margin-left: 220px;
    margin-top: -100px;
}

.a15{
    margin-left: 220px;
    margin-top: -100px;
}

.a16{
    margin-left: 220px;
    margin-top: -100px;
}

.a17{
    margin-left: 220px;
    margin-top: -100px;
}

.a18{
    margin-left: 220px;
    margin-top: -100px;
}